<div class="portlet">

  <div class="flex-item titulo">
    {{ plano?.titulo }}
  </div>

  <div class="flex-item quantitativo">
    <span> {{ plano?.quantitativo.quantidade }} <br /> </span>
    {{ plano?.quantitativo.descricao }}
  </div>

  <div class="flex-item descricao">
    {{ plano?.descricao }}
  </div>

  <div class="flex-item atributos">
    <ul>
      <li *ngFor="let atributo of plano?.atributos">
        &#10004; {{ atributo }}
      </li>
    </ul>
  </div>

  <div class="flex-item botao-comprar-agora">
    <button type="button"
            class="btn btn-outline-light">
      Comprar Agora
    </button>
  </div>

</div>
