<div class="portlet">

  <div class="flex-item titulo">
    {{ plano?.nome }}
  </div>

  <div class="flex-item quantitativo">
    <span> {{ plano?.valor | currency: 'R$' }} <br /> </span>
    {{ plano?.tipoCobrancaPlano | tipoCobrancaPlanoPipe }}
  </div>

  <div class="flex-item descricao">
    {{ plano?.descricao }}
  </div>

  <div class="flex-item atributos">
    <ul>
      <li *ngFor="let atributo of atributosPlano">
        &#10004; {{ atributo }}
      </li>
    </ul>
  </div>

  <div class="flex-item botao-comprar-agora">
    <button type="button"
            (click)="onAdiquirirPlano()"
            class="btn btn-outline-light">
      Comprar Agora
    </button>
  </div>

</div>
