<mat-list>
  <mat-list-item *ngFor="let presentation of listPresentation">
    <img matListAvatar
         src="https://drive.google.com/uc?export=view&id={{presentation?.theme?.googleIdImg}}"
         [alt]="presentation.theme.name" />
    <h3 matLine> {{ presentation.term }}</h3>
    <p matLine>
      <span> {{ presentation.theme.name }} </span>
    </p>

    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              (click)="eventCopy.emit(presentation)">
        <mat-icon class="icon-clone-presentation">file_copy</mat-icon>
        <span>Clonar</span>
      </button>
      <button mat-menu-item
              (click)="eventAccessPresentation.emit(presentation)">
        <mat-icon class="icon-google-drive">
          <img src="../../../../../assets//img/google_drive.ico"
               alt="">
        </mat-icon>
        <span>Acessar</span>
      </button>
    </mat-menu>

  </mat-list-item>
</mat-list>
