.container {
  width: 100%;
  margin-top: 2vh;

  .row {
    flex-wrap: wrap-reverse;
    height: 100%;
  }

  .portlet {
    padding: 30px;
    margin-bottom: 10vh;

    .content {
      height: 100%;
      background: #f5f5f5;
      padding: 20px;
      border-radius: 35px;
    }

  }
}

.mat-stepper-horizontal, .mat-stepper-vertical{
  background-color: #f5f5f5;
}

::ng-deep div.mat-tab-body-content {
  overflow-x: hidden;
}

::ng-deep div.mat-tab-body-wrapper {
  padding-top: 20px;
}

.botoes-stepper {
  button{
    margin-right: 10px;
  }
}

.presentation-form {

  mat-form-field {
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
  }

  textarea {
    resize: none !important;
    overflow: scroll;
  }

  ::ng-deep .mat-form-field-suffix {
    display: inherit;
  }
}
