<div class="content">
  <div class="row">
    <div class="col"
         style="text-align: center;">
      <img src="https://drive.google.com/uc?export=view&id={{themeHovered?.googleIdImg}}"
           class="img-theme-selected img-fluid"
           alt="">
      <span class="theme-name">{{ themeHovered?.name }}</span>
    </div>
    <div class="col">
      <div class="list-themes">
        <div *ngFor="let theme of themes"
             class="theme-content">
          <img [ngClass]="{'selected': theme.selected}"
               (click)="onSelectTheme(theme)"
               (mouseenter)="onMouseEnterImageTheme(theme)"
               (mouseout)="onMouseOutImageTheme()"
               src="https://drive.google.com/uc?export=view&id={{theme?.googleIdImg}}" />
        </div>
      </div>
    </div>
  </div>
</div>
