form, mat-form-field {
  width: 100%;
}

.container {
  width: 100%;
  margin-top: 2vh;

  .bd-title {
    font-size: 2rem;
    color:#212529;
  }

  button {
    margin-right: 10px;
  }

  .row {
    &.container-smk{
      flex-wrap: wrap-reverse;
      height: 100%;
    }
  }

  .portlet {
    padding: 30px;
    margin-bottom: 10vh;

    .content {
      height: 100%;
      background: #f5f5f5;
      padding: 2rem;
      border-radius: 35px;
      // max-height: 70vh;
    }

  }
}
