::ng-deep .mat-list-item-content {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

::ng-deep .mat-list-avatar {
  border-radius: unset !important;
  height: unset !important;
  width: 110px !important;
}

.icon-google-drive {
  vertical-align: top !important;
  margin-top: 6px !important;

  img {
    width: 24px;
  }
}

.icon-clone-presentation {
  color: #673ab7 !important;
}

mat-list {
  height: 50vh !important;
  overflow-y: scroll !important;
}
