.container {
  width: 100%;
  margin-top: 2vh;

  .row {
    &.container-smk{
      flex-wrap: wrap-reverse;
      height: 100%;
    }
  }

  .portlet {
    padding: 30px;
    margin-bottom: 10vh;

    .content {
      height: 100%;
      background: #f5f5f5;
      padding: 13px;
      border-radius: 35px;
      max-height: 70vh;
    }

    .list-themes{
      max-height: 40vh;
      overflow-y: scroll;
    
      .theme-content {    
        margin-bottom: 1px;
    
        img {
          width: 210px;
          max-width: 60%;
          height: auto;
          border: 2px silver solid;
          transition: 0.3s;
    
          &:hover,
          &.selected  {
            opacity: 0.6;
            border: 2.5px #673ab7 solid;
          }    
        }    
      }
    
    }
    
    .img-theme-selected {
      width:400px;
      transition: visibility 0s, opacity 0.5s linear;
    }
    
    .presentation-term {
      margin-top: 10px;
      margin-left: 20px;
    }

  }
}

.mat-stepper-horizontal, .mat-stepper-vertical{
  background-color: #f5f5f5;
}

::ng-deep div.mat-tab-body-content {
  overflow-x: hidden;
}

::ng-deep div.mat-tab-body-wrapper {
  padding-top: 20px;
}

.stepper-buttons {
  button {
    margin-right: 10px;
  }
}

.presentation-form {

  mat-form-field {
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
  }

  textarea {
    resize: none !important;
    overflow: scroll;
  }

  ::ng-deep .mat-form-field-suffix {
    display: inherit;
  }
}
