.intro {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  overflow: scroll;
  background: url(../../../../../assets/img/fundo_plano.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
