#customBtn {
  background: white;
  color: #444;
  border-radius: 15px;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  padding: 0px 10px 0px 10px;

  :hover {
    cursor: pointer;
  }
}


span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url('../../../../../assets/img/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
