@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: lato;
  src: url(assets/fonts/Montserrat-Regular.otf) format("opentype");
}

* {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}
