<mat-toolbar>
  <mat-toolbar-row>
    <div>
      Slidemaker
      <span class="badge badge-secondary">v{{ appVersion }}</span>
    </div>
    <span class="spacer"></span>

    <button mat-button
            *ngIf="userImageProfile"
            [matMenuTriggerFor]="menu">
      {{ googleProfile?.displayName || '' }}
      <mat-icon>keyboard_arrow_down</mat-icon>
      <img class="img-perfil rounded-circle"
           [src]="userImageProfile" />
    </button>

    <mat-menu #menu="matMenu"
              [overlapTrigger]="false">
      <button (click)="onSubscriptionClick()"
              mat-menu-item>
        <mat-icon>sentiment_very_satisfied</mat-icon>
        <span>Minha conta</span>
      </button>
      <button (click)="onLogoutClick()"
              mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
